* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
}

.cv-document {
  box-sizing: border-box;
  border: none;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
  text-decoration: none;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: arial, sans-serif, tahoma;
}

.cv-page {
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  width: 900px;
  min-height: 900px;
  margin: 0 auto;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  position: relative;
  padding: 40px;
}
.section {
  margin: 40px 0;
}
.section-title {
  border-bottom: 2px solid black;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 3px;
  text-transform: uppercase;
}
/* INFO SECTION */
.info {
  position: relative;
}
.info-photo {
  position: absolute;
  right: 0;
  top: 0;
  width: 113px;
}
.info-title {
  color: #0e2452;
  margin-bottom: 5px;
}
.info-content-title {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 5px;
  margin-right: 20px;
  width: 100px;
}
/* TARGET SECTION */
.target-content {
  text-align: justify;
}
